*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
  min-height:100vh;
  min-width:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}
.shapes-container{
  display:flex;
  justify-content:space-between;
  width:75%;
  align-items:center;
}
#square{
 width:120px;
 height:120px;
 background: #ff0000;
}
